<div id="message" style="
        border: 1px solid;
        position: fixed;
        padding: 10px;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: monospace;
        text-align:left;
    ">
    Encrypted : <b><%= encryptedMessage %></b><br>
    Decrypted : <b><%= decryptedMessage %></b>
</div>