<body>
    <%- include('partials/helper.ejs') %>
<!--     `Hello ${req.params.query["first"]} ${req.params.query["last"]}, you're a legit user!` -->
    <b>Hello <%= fullName %>, you're a legit user!</b><br>
    <h1>Welcome!</h1>
</body>